*{
  padding: 0;
  margin: 0;
  font-size: large;
  /* border: 1px solid red; */
}

.wrapper{
  display: grid;
  place-items: center;
  grid-template-columns: 10% 35% 10% 35% 10%;
}

.container{
  display: flex;
  justify-content: center;
}

#heroes{
  grid-column: 2/3;
}

#villains{
  grid-column: 4/5;
}

.power, #score>span{
  font-size: xx-large;
}

#score{
  grid-column: 3/4;
  width: 100%;
  display: flex;
  align-self: flex-start;
  justify-content: space-evenly;
}

.col{
  border: 2px solid #000;
  display: grid;
  margin: 3%;
  justify-items: center;
}

.footer{
  margin: 6% 14%;
  font-size : 18px;
}
